.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 710px) {
    padding: 0;
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// TAB ONE // CREATE A TICKET

.newTicket {
  padding: 2rem;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;

  @media screen and (max-width: 710px) {
    width: 100%;
  }
}

// TAB TWO // MY TICKETS

.ticketGrid {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1.2rem;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

/// PAGINATION ////

.paginationContainer {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  list-style: none;
  color: #000000;
  align-items: center;

  .pageNumber {
    cursor: pointer;
    padding: 0 12px;
    border-radius: 5px;
    line-height: 2;
    font-size: .9rem;
    font-weight: 400;
    transition: all 0.2s ease-in;
  }

  .pageNumber:hover {
    background-color: #36363615;
  }
}