.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// TAB ONE // CREATE A TICKET

.newTicket {
  padding: 2rem;
  width: 600px;

  @media screen and (max-width: 600px) {
    width: 380px;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

// TAB TWO // MY TICKETS

.ticketGrid {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1.2rem;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

/// PAGINATION ////

.paginationContainer {
  display: flex;
  gap: 1rem;
  list-style: none;
  color: #bf1b09;
  align-items: center;

  .pageNumber {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 0.2s ease-in;
  }

  .pageNumber:hover {
    color: #110301;
  }
}