.card {
    padding: 1rem;
    width: 450px;
    height: 200px;
    align-self: center;
    justify-self: center;
    position: relative;
}

.id {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #bf1b09;
}