.card {
    padding: 1rem;
    // align-self: center;
    // justify-self: center;
    position: relative;
    height: 150px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: translateY(-3.5%);
}

.id {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #bf1b09;
}